body {
    background:#2c3e50;
}

h3{
    color:#FFF;
    margin:0px;
    padding:0px;
}

/* Header */
header{
    background:#34495e;
    padding:15px;
    text-align: left;
    margin-bottom:30px;
}
header h2{
    font-size:25px;
    margin:0px;
    padding:0px;
    color:#FFF;
}

/* Box */
.box {
    padding:20px;
    background:#dedede;
    border: 1px solid;
    min-height:300px;
}
.box h3{
    color:#000;
    margin-bottom:0px;
    margin-bottom:10px;
}
.box p {
    padding-top:20px;
}
.box .company {
    font-size: 15px;
}

/* Jobs Box. */
.jobs {
    margin-bottom:30px;
}

/* Search Box. */
.search input {
    color:#FFF;
}

::placeholder {
    color: #dedede;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #dedede;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #dedede;
}

/* Detail */
.detail h3 {
    margin:0px;
}

.detail p {
    margin-top:30px;
}

.detail .date {
    margin-top:30px;
    font-size:15px;
}

/* Footer */
footer{
    margin-top:50px;
    padding:10px;
    text-align: center;
    color:#FFF;
    font-size:15px;
}

/* Utility */
.img-reponsive {
    width:100%;
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}